name: Windows

on:
  push:
    branches:
      - master
      - ci/*
  pull_request:
    branches:
      - master

env:
  MELONDS_GIT_BRANCH: ${{ github.ref }}
  MELONDS_GIT_HASH: ${{ github.sha }}
  MELONDS_BUILD_PROVIDER: GitHub Actions
#  MELONDS_VERSION_SUFFIX: " RC"

jobs:
  build:
    runs-on: windows-2025
    strategy:
      matrix:
        arch:
          - name: x86_64
            msystem: ucrt64
          - name: aarch64
            msystem: clangarm64
    defaults:
      run:
        shell: msys2 {0}
    env:
      VCPKG_BINARY_SOURCES: clear;files,${{ github.workspace }}/vcpkg_cache,readwrite
    steps:
    - name: Check out sources
      uses: actions/checkout@v3
    - name: Set up MSYS2
      uses: msys2/setup-msys2@v2
      with:
        msystem: ${{ matrix.arch.msystem }}
        update: true
        pacboy: gcc:p cmake:p ninja:p make:p
    - name: Restore vcpkg cache
      uses: actions/cache/restore@v4
      with:
        path: ${{ github.workspace }}/vcpkg_cache
        key: vcpkg-${{ matrix.arch.name }}-mingw-${{ hashFiles('vcpkg.json') }}
        restore-keys: vcpkg-${{ matrix.arch.name }}-mingw-
    - name: Set up vcpkg
      uses: lukka/run-vcpkg@v11
      with:
        vcpkgJsonGlob: vcpkg.json
    - name: Configure
      run: cmake --preset=release-mingw-${{ matrix.arch.name }} -DMELONDS_EMBED_BUILD_INFO=ON
    - name: Build
      run: cmake --build --preset=release-mingw-${{ matrix.arch.name }}
    - uses: actions/upload-artifact@v4
      with:
        name: melonDS-windows-${{ matrix.arch.name }}
        path: .\build\release-mingw-${{ matrix.arch.name }}\melonDS.exe
    - name: Save vcpkg cache
      uses: actions/cache/save@v4
      with:
        path: ${{ github.workspace }}/vcpkg_cache
        key: vcpkg-${{ matrix.arch.name }}-mingw-${{ hashFiles('vcpkg.json') }}